<div class="navbar">
  <span class="title"><%=title%></span>
  <input type="button" class="dropdown-button" id="toggle" style="width: 2%;" value=">">
  <ul class="dropdown" style="display:none;">
      <li>
          <a href="/memes">Memes</a>
      </li>
      <li>
          <a href="/">Logout</a>
      </li>
  </ul>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
  let dropdown=true;
  $("#toggle").on("click",()=>{
    if(dropdown){
        $(".dropdown").slideDown(500);
        dropdown=false;
    }else{
        $(".dropdown").slideUp(500);
        dropdown=true;
    }
  });
</script>
