<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>add Memes</title>
</head>
<body>
  <form action="/memes/add" method="POST">
    <label for="title">Title</label><br>
    <input type="text" name="title" placeholder="the dank memes"><br><br>

    <label for="author">Author</label><br>
    <input type="text" name="author" placeholder="Your name"><br><br>

    <label for="image_url">Image Link</label><br>
    <input type="text" name="image_url" placeholder="the links"><br><br>

    <input type="submit" value="submit">

  </form>
  
</body>
</html>