<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ini Login</title>
</head>
<body>
    
    <h1>Please login...</h1>
    <form action="/users/login" method="POST">

    <label for="username">username</label>
    <input type="text" name="username" id="username"><br><br>

    <label for="password">password</label>
    <input type="password" name="password" id="password"><br><br>

    <button type="submit">Submit</button>
    </form>
    <h3>You can register over here</h3>
    <a href="/users/register">Register</a><br><br>
</body>
</html>